body {
  font-family: Georgia, serif;
  background-color: #F1EADA;
  color: #223030;
  padding: 2rem;
}

h1 {
  font-family: Helvetica, sans-serif;
  color: #584738;
}

h2 {
  font-family: Helvetica, sans-serif;
  opacity: 0.8
  color: #584738;
}

h3 {
  font-family: Helvetica, sans-serif;
  opacity: 0.6;
  color: #584738;
}

h4 {
  font-family: Helvetica, sans-serif;
  opacity: 0.4;
  color: #584738;
}

h5 {
  font-family: Helvetica, sans-serif;
  opacity: 0.2;
  color: #584738;
}

a {
  color: #4F5845;
  text-decoration: none;
}

a:hover {
  color: #474329;
  text-decoration: none;
}

p {
  padding: 2rem;
}  

section {
  background-color: #D8DACA
  margin-bottom: 40px;
  padding-bottom: 20px;
}
